.item {
  border-bottom: 1px solid rgba(#fff, .1);
  margin-bottom: 24px;
  padding-bottom: 24px;
  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
.title {
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.tag {
  margin-left: 16px;
}
.info {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.duration {
  color: var(--text-grey);
}
.price {
  font-weight: 700;
}
